= form_for @project, :html => { :multipart => true } do |f|
  = f.label :title, 'Title'
  = f.text_field :title
  = f.label :resume, 'Resume'
  = f.text_area :resume
  = f.label :description, 'Description'
  = f.text_area :description
  = f.label :url, 'URL'
  = f.text_field :url
  %field_set
    %legend Images
    = f.fields_for :assets do |asset|
      - if asset.object.new_record?
        = asset.file_field :image
      - else
        = link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) )
        = asset.check_box :_destroy
        = asset.label :_destroy, 'Delete'
  %field_set.categories
    %legend Categories
    - @categories.each do |category|
      = check_box_tag "category_#{category.id}", category.id, @project.categories.include?(category), :name => 'project[category_ids][]'
      = label_tag "category_#{category.id}", category.title
  %field_set.roles
    %legend Roles
    - @roles.each do |role|
      = check_box_tag "role_#{role.id}", role.id, @project.roles.include?(role), :name => 'project[role_ids][]'
      = label_tag "role_#{role.id}", role.title
  = f.submit
