= form_for @project do |f|
  = f.label :title, 'Title'
  = f.text_field :title
  = f.label :description, 'Description'
  = f.text_area :description
  %field_set
    %legend Categories
    = @categories.each do |category|
      = check_box_tag "category_#{category.id}", category.id, @project.categories.include?(category), :name => 'project[category_ids][]'
      = label_tag "category_#{category.id}", category.title
  = f.submit
