%h2= @project.title
%p= @project.resume
%p= @project.description
%p= link_to @project.url
- if admin?
  = link_to 'Edit', edit_project_path(@project)
  = link_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?'
%ul
  - @categories.each do |category| 
    %li= category.title
%ul
  - @roles.each do |role| 
    %li= role.title
%ul
  - @assets.each do |asset|
    %li= link_to(image_tag(asset.image.url(:small)), asset.image.url)
