%h2= @project.name
- if admin?
  = link_to edit_project_path(@project), :class => 'btn' do
    %i.icon-pencil
    Edit
  = link_to project_path(@project), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' do
    %i.icon-trash.icon-white
    Delete
  %hr.soften
- if @project.assets.any?
  %ul.thumbnails.span12
    - @assets.each do |asset|
      %li.thumbnail.span3=image_tag(asset.image.url(:small))
= simple_format(@project.description)
- if @project.categories.any?
  .project_categories
    %h4 Categories:
    %ul.unstyled
      - @categories.each do |category|
        %li= category.name
- if @project.roles.any?
  .project_categories
    %h4 Roles:
    %ul.unstyled
      - @roles.each do |role|
        %li= role.name
%hr.soften
= link_to @project.url, :class => 'btn btn-primary' do
  Visit Project
  %i.icon-share-alt.icon-white
