%h2= @project.title
- if admin?
  = link_to 'Edit', edit_project_path(@project)
  = link_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?'
%p= @project.resume
- unless @project.assets.empty?
  %div.slider-wrapper.theme-default
    %div#slider.nivoSlider
      - @assets.each do |asset|
        =image_tag(asset.image.url)
:markdown
  #{@project.description}
- unless @project.categories.empty?
  %ul#project_categories
    %li
      %strong Categories:
    - @categories.each do |category| 
      %li= category.title
- unless @project.roles.empty?
  %ul#project_roles
    %li
      %strong Roles:
    - @roles.each do |role| 
      %li= role.title
%div#view_project
  =link_to 'Visit the Project', @project.url, :class => 'button'
