!!!
%html
  %head
    %title Mobplug
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %h1 Mobplug
  %div.wrapper
    = render :partial => 'shared/main_nav'
    = render :partial => 'shared/flash_messages'
    = yield
